@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*variables*/
:root {
	--bg-color: #080119;
	--text-color: #6c5e7d;
	--highlight-color: #9a8bad;
}

/*mobile first design, initial style is for phone screens*/
body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	color: var(--text-color);
	font-size-adjust: .6;
	line-height: 2.5;
}
h1 {
	font-family: "Carattere", cursive;
	color: var(--text-color);
	text-align: center;
	padding-top: 5%;
	font-weight: normal;
	font-size-adjust: 1.3;
}

/*header*/
.header {
	display: flex;
	justify-content: space-between;
	padding: 5%;
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
}
.header img {
	height: 8vh;
	width: auto;
}
.dropdown {
	postiion: relative;
}
.dropdown-content {
	display: none;
	position: absolute;
	text-alight: right;
	right: 0;
	background-color: rgba(0, 0, 0, .8);
	padding: 3%;
}
.dropdown-content a {
	text-decoration: none;
	color: var(--text-color);
	display: block;
	padding-bottom: 5%;
	padding-right: 2%;
}
.dropdown-content a:hover {
	color: var(--highlight-color);
}
.dropdown:hover .dropdown-content {
	display: block;
}

.banner {
	padding-top: 5%;
}
.banner img {
	width: 98%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*nav buttons*/
.nav a {
	color: inherit;
	text-align: center;
	display: block;
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

/*about me*/
#about-me {
	padding-top: 7%;
}
#about-me a {
	text-decoration: underline;
	color: inherit;
	text-decoration-thickness: 2px;
}
#about-me img {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	margin-top: 10%;
	margin-bottom: 10%;
	border: 1px solid black;
}

/*Contact me*/
.contact img {
	width: 10vw;
}
.iconSet {
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
}
.contact a {
	color: inherit;
}
.email {
	text-align: center;
	padding: 2%;
}
.email img {
	padding-right: 5%;
}
.contact h3 {
	padding-left: 7%;
	padding-bottom: 5%;
}

/*Adjust for tablet*/
@media only screen and (min-width: 600px) {
	body {
		font-size-adjust: .8;
	}
	.banner {
		padding-top: 0;
		padding-bottom: 0;
	}
	.header {
		padding-bottom: 1%;
		padding-top: 1%;
	}
	h1 {
		padding-top: 1%;
	}
	.nav {
		display: flex;
		justify-content: space-evenly;
		padding-top: 5%;
	}
	.nav a {
		display: inline;
		background-color: var(--text-color);
		color: var(--bg-color);
		padding: 2%;
		border-radius: 15px;
		text-decoration: none;
	}
	.nav a:hover {
		background-color: var(--highlight-color);
	}
	h2 {
		padding-bottom: 1%;
		padding-top: 5%;
		margin: 0;
		text-align: center;
	}
	h3 {
		padding-top: 0;
		margin: 0;
		text-align: center;
	}
	.contact img {
		width: 8vw;
	}
	p {
		text-indent: 6%;
		padding-left: 5%;
		padding-right: 5%;
	}
	#about-me img {
		max-height: 50vh;
		width: auto;
	}
}

/*Adjust for desktop*/
@media only screen and (min-width: 992px) {
	.banner img {
		max-height: 80vh;
		width: auto;
	}
	.banner {
		background-color: rgba(0, 0, 0, .7);
	}
	.nav a {
		padding-left: 5%;
		padding-right: 5%;
	}
	.nav {
		padding: 0;
	}
	h1 {
		padding-bottom: 5%;
	}
	.flex {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row-reverse;
		align-items: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.flex p {
		padding: 5%;
	}
	.upcoming {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.upcomingP {
		padding: 5%;
	}
	.contact img {
		width: 5vw;
	}
	.email {
		padding-bottom: 3%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.email a {
		padding: 2%;
	}
	.email img {
		padding: 0;
	}
	.iconSet {
		padding-bottom: 3%;
		padding-top: 0;
		margin: 0;
	}
}
