@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*variables*/
:root {
	--bg-color: #080119;
	--text-color: #6c5e7d;
	--highlight-color: #9a8bad;
}

/*mobile first design, initial style is for phone screens*/
body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	color: var(--text-color);
	font-size-adjust: .6;
	line-height: 2.5;
}
h1 {
	font-family: "Carattere", cursive;
	color: var(--text-color);
	text-align: center;
	padding-top: 5%;
	font-weight: normal;
	font-size: 8.5vw;
}

/*header*/
.header {
	display: flex;
	justify-content: space-between;
	padding: 5%;
	padding-top: 2%;
	padding-bottom: 0;
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
	z-index: 2;
}
.header img {
	height: 8vh;
	width: auto;
}
.dropdown {
	postiion: relative;
	z-index: 3;
}
.dropdown-content {
	display: none;
	position: absolute;
	text-alight: right;
	right: 0;
	background-color: rgba(0, 0, 0, .8);
	padding: 3%;
	z-index: 3;
}
.dropdown-content a {
	text-decoration: none;
	color: var(--text-color);
	display: block;
	padding-bottom: 10%;
	padding-right: 2%;
	line-height: 1.5;
	z-index: 3;
}
.dropdown-content a:hover {
	color: var(--highlight-color);
	z-index: 3;
}
.dropdown:hover .dropdown-content {
	display: block;
	z-index: 3;
}

.banner {
	padding-top: 5%;
}
.banner img {
	width: 98%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgba(0, 0, 0, 0.6);
}
.banner h1 {
	font-size: 6vw;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 4%;
	padding-bottom: 2%;
}
#home.banner {
	display: block;
}
#lighting.banner {
	background-image: url("images/rip1.jpg");
	align-items: start;
}
#improv.banner {
	background-image: url("images/rip36.jpg");
	align-items: end;
	margin-bottom: 7%;
}
#playwright.banner {
	background-image: url("images/nps10.jpg");
	align-items: end;
	margin-bottom: 7%;
}

/*nav buttons*/
.nav a {
	color: inherit;
	text-align: center;
	display: block;
	text-decoration: underline;
	text-decoration-thickness: 3px;
	font-size-adjust: .7;
}

/*about me*/
#about-me a {
	text-decoration: underline;
	color: inherit;
	text-decoration-thickness: 2px;
}
#about-me img {
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	margin-top: 10%;
	margin-bottom: 10%;
	border: 1px solid black;
}
object {
	width: 80%;
	height: 60vh;
	padding-bottom: 7%;
	padding-top: 2%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Contact me*/
.contact img {
	width: 10vw;
}
.iconSet {
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
}
.contact a {
	color: inherit;
}
.email {
	text-align: center;
	padding: 2%;
}
.email img {
	padding-right: 5%;
}
.contact h3 {
	padding-left: 7%;
	padding-bottom: 5%;
}
p {
	text-indent: 6%;
	padding-left: 5%;
	padding-right: 5%;
}
h2 {
	padding-bottom: 1%;
	padding-top: 5%;
	margin: 0;
	text-align: center;
}
h3 {
	padding-top: 0;
	margin: 0;
	text-align: center;
}
.divider {
	width: 85%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 7%;
}
.navImg {
	display: none;
}

.imageInfo {
	padding: 7%;
}
.imageInfo li {
	list-style: none;
	font-size-adjust: 1;
}
.imageInfo li::before {
	content: "";
	display: inline-block;
	height: 1.8em;
	width: 1.8em;
	background-image: url("images/star.png");
	background-repeat: no-repeat;
	background-size: contain;
  	margin: 0 0.5em -0.25em -1em;
}

/*Slideshow*/
.slideshowContainer {
	width: 95vw;
	position: relative;
	margin: auto;
}
.slideshowContainer img {
	width: 80vw;
	margin: auto;
	display: block;
	border-radius: 5px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 2%;
  color: var(--text-color);
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 3vw;
  width: 3vw;
  margin: 0 1%;
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: var(--highlight-color);
}

.lighting h2, .improv h2, .playwright h2 {
	font-weight: bold;
	padding-bottom: 4%;
	font-size-adjust: 1;
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
}
.below {
	display: none;
}
p {
	font-size-adjust: .8;
}
a {
	color: var(--text-color);
}

/*--------------Adjust for tablet--------------*/
@media only screen and (min-width: 600px) {
	body {
		font-size-adjust: .8;
	}
	.banner {
		padding-top: 0;
		padding-bottom: 0;
		display: block;
		postiion: absolute;
	}
	.header {
		padding-bottom: 1%;
		padding-top: 1%;
	}
	h1 {
		padding-top: 1%;
		font-size: 6.5vw;
		background-color: rgba(0, 0, 0, .8);
	}
	.nav {
		display: flex;
		justify-content: space-evenly;
		padding-top: 5%;
	}
	.nav a {
		display: inline;
		background-color: var(--text-color);
		color: var(--bg-color);
		padding: 2%;
		border-radius: 15px;
		text-decoration: none;
	}
	.nav a:hover {
		background-color: var(--highlight-color);
	}
	.contact img {
		width: 8vw;
	}
	#about-me img {
		max-height: 50vh;
		width: auto;
	}
	object {
		height: 80vh;
	}
	#lighting.banner, #improv.banner, #playwright.banner {
		height: 60vh;
		align-items: end;
		font-size-adjust: .6;
	}
	.dot {
		height: 2vw;
		width: 2vw;
	}
	.lighting h2, .improv h2, .playwright h2 {
		font-size-adjust: .8;
	}
	.imageInfo {
		padding-top: 2%;
		padding-left: 10%;
	}
	.imageInfo li {
		font-size-adjust: .6;
	}
	.imageInfo li::before {
		height: 1.5em;
		width: 1.5em;
	}
	.slideshowContainer img {
		max-height: 50vh;
		width: auto;
	}
	.divider {
		padding-top: 0;
	}

/*Adjust for desktop*/
@media only screen and (min-width: 1025px) {
	.bannerBG {
		background-image: url("images/dm7.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(10px);
		height: 80vh;
	}
	.banner img {
		max-height: 85vh;
		width: auto;
		content: url("images/dm7Tall.png");
		position: absolute;
		top: 11%;
		left: 25%;
	}
	.nav {
		display: none;
	}
	.navImg {
		display: block;
		padding: 0;
		margin: 0;
		padding-top: 5%;

	}
	.navImg img {
		width: 15vw;
		height: auto;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#lightingButton:hover {
		content:url("images/lightingButtonHighlight.png");
	}
	#improvButton:hover {
		content:url("images/improvButtonHighlight.png");
	}
	#playwrightButton:hover {
		content:url("images/playwrightButtonHighlight.png");
	}
	.home h1 {
		display: none;
	}
	.flex {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	#about-me .flex {
		flex-direction: row-reverse;

	}
	.flex p {
		padding: 5%;
	}
	.upcoming {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.upcomingP {
		padding: 5%;
	}
	.contact img {
		width: 3vw;
	}
	.email {
		padding-bottom: 1%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.email a {
		padding: 2%;
	}
	.email img {
		padding: 0;
	}
	.iconSet {
		padding-bottom: 3%;
		padding-top: 0;
		margin: 0;
	}
	#lighting.banner, #improv.banner, #playwright.banner {
		height: 70vh;
		background-color: rgba(0, 0, 0, .8);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		align-items: end;
		margin-bottom: 0;
	}
	#lighting h1, #improv h1, #playwright h1 {
		font-size-adjust: .3;
		padding: 2%;
		line-height: .8;
	}
	.dot {
		height: 1vw;
		width: 1vw;
	}
	.slideshowContainer {
		height: 75vh;
		max-width: 65vw;
		padding-top: 5%;
	}
	.slideshowContainer img {
		/*object-fit: contain;*/
		min-height: 75vh;
		width: auto;
	}
	.divider {
		padding: 5%;
	}
	.lighting .flex {
		justify-content: space-around;
		margin: auto;
		width: 95vw;
	}
	.above {
		display: none;
	}
	.below {
		display: block;
	}
	.imageInfo {
		padding: 0;
	}
	p {
		padding-top: 5%;
		margin-left: 10%;
		margin-right: 10%;
	}
}
